article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

/* 
------------------------
--------- Main ---------
------------------------
*/

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: #333;
	line-height: 1.75;
	background: #fff;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page-wrap {
	position: relative;
	top: 99px;
}

.wrap {
	max-width: 1020px;
	margin: 0 auto;
	padding: 5em 10px;
}

/* 
------------------------
--------- Home ---------
------------------------
*/

.home {
	.banner {
		background: url(../images/ajh-banner.jpg) no-repeat center center;
		background-size: cover;
		position: relative;
		height: 300px;
	}
	.page-title {
		position: relative;
		top: 120px;
		text-align: center;
		color: #fff;
		z-index: 0;
		font-size: 3.5em;
		text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	}
}

#welcome p {
	margin-top: 0;
	margin-bottom: 2em;
}

.contact h1 {
	text-align: center;
	margin: 0 0 0.75em;
}

.aboutMe h1 {
	text-align: center;
	margin: 0.5em 0;
}

.skills {
	margin-bottom: 7em;
	.wrap {
		padding-top: 2em;
	}
}

.single {
	section.wrap {
		padding-top: 1em;
	}
}

/* SVGs */
.logoSVG {
	fill: lighten($pink,10%);
}
.signatureSVG {
	fill: #272727;
}

/* Archive */
.archive h1 {
	text-align: center;
}

.postMeta {
	time {
		float: right;
	}
}

.archivePost {
	border-bottom: 1px solid #eaeaea;
	margin: 1em 0;
	padding-bottom: 0.5em;
}

.read-more {
	font-size: 0.9em;
	text-transform: uppercase;
}

.theTags {
	font-weight: 400;
	margin: 1em 0;
}

/* Archive & Post Navigation */
.post-navigation {
	margin: 1em 0;
}

.post-navigation:after,
.nav-links:after {
	content: "";
	display: table;
	clear: both;
}

.nav-previous {
	font-weight: 400;
	width: 49%;
	float: left;
	margin-right: 1%;
	&:before {
		content: "←";
		margin-right: 5px;
		color: $pink;
	}
}

.nav-next {
	font-weight: 400;
	width: 49%;
	float: right;
	margin-left: 1%;
	text-align: right;
	&:after {
		content: "→";
		margin-left: 5px;
		color: $pink;
	}
}

/* Category Navigation */
.cat-nav {
	list-style-type: none;
	margin: 1.5em 0;
	padding: 0;
	font-size: 1.2em;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 0 0.5em 1em;
		padding: 0;
	}
	a {
		display: inline;
		color: #333;
		padding-bottom: 3px;
		border-bottom: 2px solid transparent;
		&:hover, &:active, &:focus {
			color: #333;
			border-bottom: 2px solid $pink;
		}
	}
	.current-cat a {
		border-bottom: 2px solid $pink;
	}
}

/* Single */
.single-author,
.single-meta {
	width: 50%;
	float: left;
	p {
		margin: 0.9em 0 0;
		line-height: 1.5;
	}
}

.gravatar {
	float: left;
	margin-right: 0.75em;
	img {
		@include border-radius(50%);
	}
}

.single-meta {
	text-align: right;
}

.comments-icon {
	margin: 0 0.35em 0 0.75em;
}

.comments-icon.fa {
	font-size: 1.1em;
}

.bullet {
	color: #ccc;
	margin: 0;
}

.single header {
	margin: 2.5em 0;
}

/* Instafeed */
.instagram {
	background: #333;
	padding-top: 2.5%;
	h1 {
		text-align: center;
		margin-bottom: 0.5em;
		color: #fff;
	}
}

#instafeed {
	a {
		width: 16.666%;
		display: inline-block;
		text-align: center;
		margin-bottom: 0.5em;
		img {
			display: inline;
			@include box-shadow(0 1px 1px rgba(0,0,0,0.25));
		}
	}
}

/* Sharing */
.sharing {
	margin: 2em 0 1em;
	a {
		display: inline-block;
	  padding: 10px;
	  line-height: 10px;
	}
	.facebook.share {
		background: $facebook;
	}
	.twitter.share {
		background: $twitter;
	}
	.google.share {
		background: $google;
	}
	svg {
		fill: #fff;
		width: 20px;
		height: 20px;
	}
}

/* Demo Button */
.demo-button {
	text-align: center;
	margin: 2em 0;
	a {
		background: lighten($pink,10%);
		padding: 15px 25px;
		color: #fff;
		font-weight: 400;
		&:hover, &:active, &:focus {
			color: #fff;
			background: $pink;
		}
	}
}