article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
	margin: 0;
	padding: 0;
}

/* Main Body */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 400;
	color: #333;
	line-height: 1.5;
	background: #fff;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @media (max-width: 1024px) {
  	font-size: 90%;
  }
}

p {
	font-size: 1.05em;
}

/* Main Page Wrap */
.pageWrap {
	position: relative;
	@include main-grid;
	min-height: 1909px;
	margin: 0 auto;
	padding: 0 0 5%;
	/* Header for Posts & Pages, not the Main Header. */
	header {
		width: 66.666%;
		float: left;
		padding: 0 20px 20px 0;
		@include box-sizing(border-box);
		@media (max-width: 1250px) {
			width: 60%;
		}
		@media (max-width: 1024px) {
			width: 50%;
		}
		@media (max-width: 900px) {
			width: auto;
			margin: 0 auto;
			padding: 10px;
		}
		p {
			font-weight: 400;
			font-size: 1.1em;
			margin: 0 0 1em;
		}
	}
}

/* Main Content Layout */
.blogWrap {
	width: 71.2%;
	clear: both;
	@media (max-width: 1250px) {
		width: 60%;
	}
	@media (max-width: 1024px) {
		width: 50%;
	}
	@media (max-width: 900px) {
		width: auto;
	}
}

.sidebarWrap {
	width: 360px;
	position: absolute;
	top: 0;
	right: 0;
	@media (max-width: 900px) {
		position: static;
		width: auto;
		margin-top: 25px;
	}
}

/* General Article Styles */
article {
	background: #fff;
	margin: 0 1% 1% 0;
	padding: 20px 25px 20px 0;
	@include box-sizing(border-box);
	@media (max-width: 1024px) {
		margin-right: 0;
		padding: 20px;
	}
	h2 {
		font-family: 'Roboto Condensed', sans-serif;
	  margin: 0;
	  padding: 0;
		a {
			color: #333;
			text-decoration: none;
			&:hover, &:active, &:focus {
				color: $pink;
			}
		}
	}
	.posted a {
		color: $pink;
		&:hover, &:active, &:focus {
			color: lighten($pink,10%);
		}
	}
}

/* Post Meta */
.postMeta {
	font-size: 0.9em;
	text-transform: uppercase;
	margin-bottom: 0;
}

/* Page w/o Sidebar */
.page-no-sidebar {
	width: 1000px;
	float: none;
	margin: 0 auto;
}

/* Demo Button */
.demo-button {
	text-align: center;
	margin-bottom: 50px;
}

.demo-button a {
	font-size: 1.5em;
	font-weight: 300;
	color: #fff;
	margin: 0 10px;
	padding: 15px 25px;
	background: $pink;
	@include border-radius(5px);
}

@media (max-width: 480px) {
	.demo-button a {
		display: block;
		margin: 0 auto 10px;
		width: 75%;
	}
}

.demo-button a:hover,
.demo-button a:active,
.demo-button a:focus {
	background: lighten($pink,5%);
	color: #fff;
}