article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

/* 
------------------------
--------- Main ---------
------------------------
*/

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: #333;
	line-height: 1.75;
	background: #fff;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @media (max-width: 1024px) {
  	font-size: 90%;
  }
}

.page-wrap {
	position: relative;
	top: 103px;
}

.wrap {
	max-width: 1000px;
	margin: 0 auto;
	padding: 5% 0;
}

/* 
------------------------
--------- Home ---------
------------------------
*/

.home {
	.banner {
		position: relative;
		img {
			width: 100%;
		}
	}
	.page-title {
		position: absolute;
		top: 40%;
		left: 50%;
		margin-left: -106px;
		color: #fff;
		z-index: 0;
	}
}

/* SVGs */
.logoSVG {
	fill: lighten($pink,10%);
}
.signatureSVG {
	fill: #272727;
}