/* Footer */

.aboutMe {
	background: #f4f4f4;
	img {
		width: 250px;
		margin: -200px auto 2.5%;
		@include border-radius(50%);
	}
	h1 {
		text-align: center;
	}
	p {
		margin-top: 0;
	}
	.signature {
		width: 145px;
		float: none;
		display: inline;
		margin: 0;
	}
}

footer {
	background: #333;
	color: #eaeaea;
	.copyright {
		font-weight: 300;
		text-align: center;
		line-height: 1.75;
	}
}

.ajh-footer {
	width: 33.333%;
	float: left;
	text-align: center;
	#totop {
		display: inline-block;
	}
	img {
		width: 100px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	h3 {
		color: #eaeaea;
		font-weight: 300;
		font-size: 1.25em;
	}
	a {
		color: #eaeaea;
		&:active, &:hover, &:focus {
			color: $pink;
		}
	}
}

.footer-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.social {
	list-style-type: none;
	margin: 47px 0 0;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
	}
	span {
		width: 48px;
		height: 48px;
		line-height: 48px;
		font-size: 1.25em;
		color: #eaeaea;
		background: #555;
		@include border-radius(50%);
		margin: 0 5px;
		@include single-transition(all, 0.25s, ease);
		&:hover, &:active, &:focus {
			color: #eaeaea;
		}
	}
}

.facebook span {
	&:hover, &:active, &:focus {
		background: $facebook;
	}
}

.instagram span {
	&:hover, &:active, &:focus {
		background: $instagram;
	}
}

.linkedin span {
	&:hover, &:active, &:focus {
		background: $linkedin;
	}
}

.github span {
	&:hover, &:active, &:focus {
		background: #121212;
	}
}