/* Footer */
.aboutWrap {
	padding: 5% 0;
	margin: 0;
	background: #f4f4f4;
}
.aboutMe {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	@media (max-width: 1024px) {
		padding: 20px;
	}
	img {
		width: 200px;
		float: left;
		margin-right: 10px;
		@media (max-width: 768px) {
			width: 150px;
		}
		@media (max-width: 360px) {
			width: auto;
			float: none;
			margin: 0 0 10px 0;
		}
	}
	p {
		margin-top: 0;
	}
	.signature {
		width: 145px;
		float: none;
		display: inline;
		margin: 0 0 0 210px;
		@media (max-width: 1024px) {
			display: block;
			margin: 0;
		}
	}
}
footer {
	text-align: center;
	background: #333;
	color: #eaeaea;
	line-height: 1.75;
	@include box-sizing(border-box);
	.footer-wrap {
		max-width: 1250px;
		margin: 0 auto;
		padding: 5% 2%;
		a {
			color: #eaeaea;
			&:active, &:hover, &:focus {
				color: $pink;
			}
		}
		.bold-title {
			font-size: 1.1em;
			font-weight: 400;
			text-transform: uppercase;
			color: #eaeaea;
			margin: 0 0 10px;
		}
		.ajh-footer {
			width: 33.333%;
			@include box-sizing(border-box);
			float: left;
			@media (max-width: 768px) {
				width: auto;
				float: none;
				display: block;
			}
			img {
				width: 100px;
				height: auto;
				display: block;
				margin: 0 auto;
			}
			ul {
				list-style-type: none;
				margin: 0 0 25px;
				padding: 0;
			}
			.searchForm {
				width: auto;
				max-width: 320px;
				float: none;
				display: block;
				padding: 0;
				margin: 40px auto;
				@media (max-width: 1024px) {
					position: static;
				}
				.searchInput {
					padding: 13px;
					background: #555;
					border: none;
					color: #eaeaea;
				}
				.searchImage {
					top: 10px;
				}
			}
		}
	}
		.bottom-footer {
		background: #D8445E;
		padding: 2.5% 0;
		a {
			color: #eaeaea;
			&:active, &:hover, &:focus {
				color: #eaeaea;
			}
		}
	}
}

