/* 
------------------------
-------- Header --------
------------------------
*/
.headerWrap {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.mainHead {
	margin: 0 auto;
	padding: 0.75em 0;
	max-width: 1000px;
	header {
		width: 50%;
		float: left;
		margin: 0;
		padding: 0;
		.logoSVG {
			width: 65px;
			height: 75px;
			float: left;
			margin-right: 10px;
			svg {
				width: 65px;
				height: 75px;
			}
		}
	}
	.blogTitle {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 3em;
		line-height: 1.5;
		margin: 0;
		text-align: left;
	}
	p {
		font-size: 1.5em;
		font-weight: 300;
		margin: 0;
	}
	a {
		color: #555;
		text-decoration: none;
		display: block;
		&:hover, &:active, &:focus {
			color: $pink;
		}
	}
}

/* 
------------------------
------ Navigation ------
------------------------
*/
.mainMenu {
	width: 50%;
	float: right;
	ul {
		list-style-type: none;
		margin: 25px 0 0;
		padding: 0;
		font-size: 1.2em;
		text-align: right;
		li {
			display: inline;
			margin: 0 0 0 30px;
			padding: 0;
		}
	}
}

.mainMenu a {
	display: inline;
	color: #333;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
	&:hover, &:active, &:focus {
		color: #333;
		border-bottom: 2px solid $pink;
	}
}

.menuSVG {
	fill: #555;
	padding: 3px;
}

a#pull {
	display: none;
}

.mainMenu .current-post-ancestor a,
.mainMenu .current-menu-parent a,
.mainMenu .current-menu-item a,
.mainMenu .current_page_item a {
	border-bottom: 2px solid $pink;
}