/* 
------------------------
-------- Header --------
------------------------
*/
.home {
	.headerWrap {
		background: rgba(#fff, 0.9);
	}
}

.headerWrap {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.mainHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 1020px;

	header {
		margin: 0;
		padding: 0;
	}

	.blogTitle {
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		font-size: 2.5em;
		margin: 0;
	}

	p {
		font-size: 1.5em;
		font-weight: 300;
		margin: 0;
	}

	a {
		color: #555;
		text-decoration: none;
		display: block;

		&:hover,
		&:active,
		&:focus {
			color: $pink;
		}
	}

	@media (max-width: 960px) {
		padding: 0.5rem 1rem;
	}
}

/* 
------------------------
------ Navigation ------
------------------------
*/
.line {
	display: block;
	height: 3px;
	margin: 5px 0;
	background-color: #333;
	border-radius: 50vh;
	transform: rotateZ(0) translate(0, 0);
	transition: all 350ms ease;

	&:nth-of-type(1) {
		width: 50%;
	}

	&:nth-of-type(2) {
		width: 75%;
	}

	&:nth-of-type(3) {
		width: 100%;
	}
}

button.menu_open {
	appearance: none;
	border: none;
	background: none;
	padding: 0;
}

.menu_open {
	display: none;
	position: relative;
	width: 35px;
	margin: 0;
	z-index: 1;

	&:hover > .line {
		width: 100%;
	}

	&:active > .line,
	&.clicked > .line {
		background-color: $pink;
		pointer-events: none;

		&:nth-of-type(1) {
			width: 100%;
			transform: rotateZ(45deg) translate(6px, 5.667px);
		}

		&:nth-of-type(2) {
			width: 0;
		}

		&:nth-of-type(3) {
			transform: rotateZ(-45deg) translate(6px, -5.667px);
		}
	}

	@media (max-width: 960px) {
		display: block;
	}
}

.mainMenu {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	ul.menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 1.2em;
		text-align: right;

		li {
			position: relative;
			display: inline-block;
			margin: 0 0 0 16px;
			padding: 0;

			@media (max-width: 960px) {
				display: block;
				margin: 0;
			}

			&:hover > a {
				border-bottom: 2px solid $pink;
			}
		}

		@media (max-width: 960px) {
			position: fixed;
			top: 0;
			right: -300px;
			width: 300px;
			height: 100vh;
			padding-top: 5rem;
			text-align: left;
			background: url(images/symphony.png) repeat top left;
			transition: right 300ms ease;

			&.active {
				right: 0;
				border-left: 2px solid $pink;
			}

			li:hover > a {
				border-bottom: none;
			}
		}
	}

	& .search-menu li:hover > a {
		border-bottom: 2px solid transparent;
	}

	@media (max-width: 960px) {
		align-items: flex-start;
	}
}

.mainMenu a {
	display: inline;
	font-size: 0.85em;
	text-transform: uppercase;
	color: #333;
	border-bottom: 2px solid transparent;

	&:hover,
	&:active {
		color: #333;
		border-bottom: 2px solid $pink;
	}

	@media (max-width: 960px) {
		display: block;
		padding: 0.5rem 1rem;
		border-bottom: none;
		color: $pink;
	}
}

.single-ajhskill .mainMenu .menu-item-object-ajhskill > a,
.single-ajhproject .mainMenu .menu-item-object-ajhproject > a,
.single-post .mainMenu .current_page_parent > a,
.mainMenu .current-menu-item > a,
.mainMenu .current-menu-parent > a {
	border-bottom: 2px solid $pink;

	@media (max-width: 960px) {
		display: block;
		border-bottom: none;
		color: $pink;
	}
}
