/* 
------------------------
-------- Header --------
------------------------
*/
.headerWrap {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72.5938px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.mainHead {
	margin: 0 auto;
	padding: 0.35em 1em 0.25em;
	max-width: 1020px;
	header { // headerContainer
		width: auto;
		float: left;
		margin: 0;
		padding: 0;
		.logoSVG {
			width: 55px;
			height: 61px;
			margin-right: 10px;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			svg {
				width: 55px;
				height: 61px;
			}
		}
	}
	.blogTitle {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 2.5em;
		line-height: 1;
		margin: 10px 0 0;
		//text-align: left;
		//display: inline-block;
		//vertical-align: middle;
	}
	p {
		font-size: 1.5em;
		font-weight: 300;
		margin: 0;
	}
	a {
		color: #555;
		text-decoration: none;
		display: block;
		&:hover, &:active, &:focus {
			color: $pink;
		}
	}
}

/* 
------------------------
------ Navigation ------
------------------------
*/
.mobileMenu {
  display: none;
}

.mainMenu {
	width: auto;
	float: right;
	ul {
		display: inline-block;
		list-style-type: none;
		margin: 15px 0 0;
		padding: 0;
		font-size: 1.2em;
		text-align: right;
		li {
			position: relative;
			display: inline-block;
			margin: 0 0 0 16px;
			padding: 0;
			&.menu-item-has-children:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 5px;
				height: 5px;
				border-top: 5px solid $pink;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}
			&:hover > a {
				border-bottom: 2px solid $pink;
			}
		}
	}
	& .search-menu li:hover > a {
		border-bottom: 2px solid transparent;
	}
}

.mainMenu ul ul {
	display: none;
	position: absolute;
	top: calc(100% + -3px);
	right: -0.1em;
	width: 7em;
	padding: 0 0.75em 0.25em;
	margin: 0;
	background: #fff;
	border-top: 2px solid $pink;
	border-bottom: 2px solid $pink;
	box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	z-index: 9;
	li {
		display: block;
		margin: 5px 0;
		line-height: 1.5;
		&:hover > a {
			border-bottom: 2px solid transparent;
		}
		a {
			font-size: 0.8em;
			display: inline-block;
			&:hover, &:active, &:focus {
				border-bottom: 2px solid $pink;
			}
		}
	}
}

.mainMenu a {
	display: inline;
	color: #333;
	border-bottom: 2px solid transparent;
	&:hover, &:active, &:focus {
		color: #333;
		border-bottom: 2px solid $pink;
	}
}

.mobileMenu ul li:hover > ul,
.mainMenu ul li:hover > ul {
	display: block;
}

.menuSVG {
	fill: #555;
	padding: 3px;
}

a#pull {
	display: none;
}

.single-ajhskill .mainMenu .menu-item-object-ajhskill > a,
.single-ajhproject .mainMenu .menu-item-object-ajhproject > a,
.single-post .mainMenu .current_page_parent > a,
.mainMenu .current-menu-item > a,
.mainMenu .current-menu-parent > a {
	border-bottom: 2px solid $pink;
}