/* Responsive Images */
img {
	max-width: 100%;
	height: auto;
	display: block;
	border: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

img.signature {
	box-shadow: none;
}

/* Videos */
h2+.fitvids {
	margin-top: 1.5em;
}

/* Gallery Images */
.gallery img {
	border: none !important;
}
.gallery-item {
	margin: 0;
	padding: 5px;
}

/* Insert Images into Post & Pages */
img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

img.alignnone {}

img.aligncenter {
	display: block;
	margin: 1em auto;
}

a img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

a img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

a img.alignnone {}

a img.aligncenter {
	display: block;
	margin: 1em auto;
}