@media (max-width: 1366px) {
	.home .banner {
		background-position: bottom -80px center;
	}

	video#bgvideo {
		bottom: -95px;
	}
}

@media (max-width: 1150px) {
	.rslides_nav.rslides1_nav {
		&.next,
		&.prev {
			top: calc(100% - 4em);
			margin-top: 0;
		}
	}
}

@media (max-width: 1024px) {
	.home .banner {
		background-position: center center;
	}

	video#bgvideo {
		display: none;
	}

	.accepting {
		background: $pink;
		font-size: 1rem;
	}
}

@media (max-width: 960px) {
	.mainHead {
		.headerContainer {
			margin: 0;
		}
	}

	section.hero {
		padding: 0;

		.headline {
			font-size: 3rem;
		}
	}

	.page-wrap {
		top: 0;
	}

	.skills article p {
		span {
			display: inline;
		}
	}

	.single {
		.headerContainer {
			margin: 0;
		}

		h1 {
			font-size: 2.25rem;
			line-height: 1.25;
			margin: 0.25em 0;
			text-align: center;
		}
	}

	.project-testimonial {
		background-attachment: initial;
	}

	#contact {
		top: 0;
	}
}

@media (max-width: 768px) {
	p {
		font-size: 0.95rem;
		line-height: 1.75;
	}

	.wrap {
		padding: 2.5em 1rem;
	}

	.skills {
		article p {
			margin-bottom: 0;
			font-size: 0.9rem;
			font-weight: 400;
		}
	}

	.ajh-skills {
		margin-top: 3rem;

		aside {
			width: 49%;

			&:nth-child(3) {
				margin-right: 1%;
			}

			&:nth-child(4) {
				clear: none;
			}

			&:nth-child(even) {
				margin-right: 0;
			}

			&:nth-child(odd) {
				clear: both;
			}
		}
	}

	.aboutMe {
		.about-img {
			margin: -175px auto 0;
		}
	}

	.reviews {
		padding: 0 0 2rem;
		background-image: url(images/bg.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		p {
			font-size: 0.95rem;
		}

		.rslides {
			padding: 0 0 3rem;
		}

		.rslides_tabs {
			bottom: 1rem;
		}
	}

	.page-id-2065,
	.page-id-1991 {
		.field-wrap {
			width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	.contact {
		.field-wrap.text-wrap {
			width: 100%;
			float: none;
			padding: 0;
		}

		.submit-wrap,
		.textarea-wrap {
			padding: 0;
		}
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="search"],
	input[type="submit"],
	textarea {
		padding: 10px;
		font-size: 0.9rem;
	}

	.error404 {
		.widget {
			width: 100%;
			float: none;
		}
	}

	.ajh-port {
		width: 100%;
		float: none;

		&:nth-child(even) {
			margin-right: 0;
		}
	}

	.ajh-footer {
		width: 100%;
		float: none;
	}
}

@media (max-width: 600px) {
	blockquote {
		padding: 0 1rem;

		&:before {
			content: "";
			display: none;
		}

		p {
			font-size: 1rem;
			line-height: 1.75;
		}
	}

	section.hero {
		.wrap {
			padding: 5rem 1rem 1rem;
		}

		.headline {
			font-size: 2rem;
		}

		p.lead {
			font-size: 1.25rem;
		}

		a.contact-me,
		a.questionnaire {
			display: block;
			width: 100%;
			max-width: 200px;
			margin-bottom: 1rem;
			margin-right: 0;
			font-size: 1rem;
			text-align: center;
		}
	}

	.home {
		.banner {
			height: 200px;
		}

		.page-title {
			padding: 1em 0;
		}

		.page-desc {
			display: none;
		}
	}

	.accepting span {
		display: block;
		max-width: 300px;
		margin: 0.5em auto 0;

		a {
			margin: 0;
			display: block;
		}
	}

	.single-author,
	.single-meta,
	.gravatar {
		width: auto;
		float: none;
		text-align: center;
		margin: 0;

		img {
			display: block;
			width: 75px;
			margin: 0 auto;
		}
	}

	.author-bio {
		margin-top: 0;
		text-align: center;
	}

	.nav-previous,
	.nav-next {
		width: 100%;
		float: none;
		display: block;
		margin: 0.5em 0;
		text-align: center;
	}

	.theTags,
	.sharing {
		text-align: center;
	}

	.ajh-skills {
		aside {
			width: auto;
			float: none;
			display: block;
			margin-right: 0;
			margin-bottom: 15%;
			padding: 0 5% 5%;

			&:nth-child(3) {
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 420px) {
	.mainHead .headerContainer .logoSVG {
		margin-right: 0;
	}

	.mainHead .blogTitle {
		font-size: 2rem;
	}

	.postMeta {
		time {
			float: none;
			display: block;
		}
	}

	.demo-button {
		margin: 0.5em 0 0;

		a {
			display: block;
			margin-bottom: 0.5rem;
			padding: 5px;
			font-size: 0.9rem;
		}
	}

	.contact .details a {
		display: block;
	}
}

@media (max-width: 360px) {
	.mainHead .blogTitle {
		font-size: 1.5rem;
		font-weight: 400;
		margin: 0;
	}
}
