@media (max-width: 1024px) {

	.headerWrap {
		position: relative;
	}

	.mainHead {
		padding: 0.25em 0 0;
		max-width: inherit;
		header {
			width: 85%;
			margin: 0.5em 0;
			.logoSVG {
				margin: 0 0.5em 0;
				width: 45px;
				height: 50px;
				svg {
					width: 45px;
					height: 50px;
					margin-left: 0;
				}
			}
		}
	.blogTitle {
			font-size: 2em;
		}
	}

	.page-wrap {
		top: 0;
	}

	.mainMenu {
		width: 100%;
		margin-top: 0.25em;
		background: url(../images/symphony.png);
	  ul {
			display: none;
			margin: 0;
			padding: 0.5em 0;
			border-top: 1px solid #eaeaea;
			li {
				display: block;
				margin: 0 0 0.25em;
			}
			a {
				display: block;
				padding-right: 1em;
				padding-bottom: 0;
				border-bottom: none;
				color: #333;
				&:hover, &:active, &:focus {
					border-bottom: none;
					color: $pink;
				}
			}
		}
	}

	.mainMenu .current-post-ancestor a,
	.mainMenu .current-menu-parent a,
	.mainMenu .current-menu-item a,
	.mainMenu .current_page_item a {
		border-bottom: none;
		color: $pink;
	}

	.mainHead a#pull {
		display: block;
		width: 10%;
		float: right;
		text-align: right;
	  text-decoration: none;
	  border-bottom: none;
	  margin-top: 1em;
	  margin-right: 1em;
	}

	.single {
		header {
			margin: 0.75em 0;
		}
		h1 {
			font-size: 2.25em;
			line-height: 1.25;
		}
	}

	#contact {
		top: 0;
	}

}

@media (max-width: 815px) {
	
	.ui-tabs-vertical .ui-tabs-nav {
		float: none;
		width: auto;
		margin-bottom: 1em;
	}

	.ui-tabs-vertical .ui-tabs-panel {
		float: none;
		width: auto;
	}

}

@media (max-width: 768px) {

	.wrap {
		padding: 2.5em 10px;
	}

	.ui-accordion .ui-accordion-icons {
		padding-left: 0.5em;
	}

	.ui-accordion .ui-accordion-content {
		padding: 1em 0.5em;
	}

	.aboutMe {
		img {
			margin: -175px auto 0;
		}
	}

	.contact {
		.text-wrap {
			width: 100%;
			float: none;
			padding: 0;
		}
		.submit-wrap,
		.textarea-wrap {
			padding: 0;
			max-height: 100px;
		}
	}

	.textarea-wrap textarea {
		height: 100px !important;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="search"],
	input[type="submit"],
	textarea {
		padding: 10px;
		font-size: 0.9em;
	}

	.search404 {
		.Input404 {
			width: 100%;
		}
		.Image404 {
			display: block;
			width: 100%;
			font-size: 0.9em;
		}
	}

	.error404 {
		.widget {
			width: 100%;
			float: none;
		}
	}

	.info {
		margin-top: 1em;
		span {
			display: block;
		}
		span:after {
			content: "";
		}
	}

	.ajh-footer {
		width: 100%;
		float: none;
	}

}

@media (max-width: 600px) {

	.mainHead a#pull {
	  margin-right: 0.5em;
	}

	.mainMenu ul a {
		padding-right: 0;
		text-align: center;
	}

	.home {
		.banner {
			height: 200px;
		}
		.page-title {
			top: 80px;
		}
	}

	.single-author,
	.single-meta,
	.gravatar {
		width: auto;
		float: none;
		text-align: center;
		margin: 0;
		img {
			display: inline;
		}
	}

	.nav-previous,
	.nav-next {
		width: 100%;
		float: none;
		display: block;
		margin: 0.5em 0;
		text-align: center;
	}

	.theTags,
	.sharing {
		text-align: center;
	}

}

@media (max-width: 400px) {
	.postMeta {
		time {
			float: none;
			display: block;
		}
	}
}

@media (max-width: 370px) {
	.mainHead .blogTitle {
		font-size: 1.5em;
		line-height: 2;
	}

}

