// Colors
$pink: #C02942;

// Typography
//font-family: 'Roboto', 'Arial', sans-serif;
//font-family: 'Yanone Kaffeesatz', 'Roboto', 'Arial', sans-serif;

// Compass
// @include single-transition(all, 0.3s, ease);
// @include box-shadow(0 1px 0 rgba(0,0,0,0.15));

// Hover
@mixin hover {
	opacity: 1;
	&:hover, &:active, &:focus {
		opacity: 0.75;
	}
}