// Colors
$pink: #C02942;
$asphalt: #34495e;
$facebook: #3B5998;
$twitter: #4197CB;
$github: #34495e;
$google: #D3402B;

// Typography
//font-family: 'Roboto', 'Arial', sans-serif;
//font-family: 'Yanone Kaffeesatz', 'Roboto', 'Arial', sans-serif;

// Compass
// @include single-transition(all, 0.3s, ease);
// @include box-shadow(0 1px 0 rgba(0,0,0,0.15));

// Grid
@mixin grid {
  width: 49%;
  margin: 0 1% 1% 0;
  float: left;
  @media (max-width: 600px) {
    width: auto;
    float: none;
    margin: 0 auto 1%;
  }
}

@mixin main-grid {
  max-width: 1250px;
  @media (max-width: 1300px) {
    width: 95%;
  }
}

// Hover
@mixin hover {
	opacity: 1;
	&:hover, &:active, &:focus {
		opacity: 0.75;
	}
}