nav { /* Top Level Navigation */
	margin: 0 0 1em;
	padding: 1em 0;
	background: #272727;
	border-bottom: 3px solid lighten($pink,10%);
	@media (max-width: 1024px) {
		margin: 0;
	}
	@media (max-width: 768px) {
		padding: 1em 0 0;
	}
	ul {
		list-style-type: none;
		text-align: center;
		margin: 0;
		padding: 0;
		@media (max-width: 768px) {
			display: none;
		}
		li {
			display: inline-block;
			margin: 0 0 0 -5px;
		}
	}
}
nav a { /* Targets all menu links */
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 1em 1.25em 1.05em;
	text-transform: uppercase;
	font-size: 1.05em;
	color: #fff;
	text-decoration: none;
	&:hover, &:active, &:focus {
		background-color: lighten($pink,10%);
		color: #fff;
		@media (max-width: 768px) {
			background-color: transparent;
		}
	}
}
nav ul ul { /* Targets 1st Level Sub Menu */
	display: none;
	position: absolute;
	z-index: 99999;
	width: 175px;
	margin-top: 0.25em;
	margin-left: -2.5em;
	li {
		width: 100%;
		margin: 0;
		padding: 0.5em 0;
	}
}
nav ul ul ul { /* Targets 2nd Level Sub Menu */
	display: none;
	position: absolute;
	z-index: 99999;
	width: 175px;
	margin-top: -1.5em;
	margin-left: 150px;
	li {
		width: 100%;
		margin: 0;
		padding: 0.5em 0;
		text-align: left;
	}
}
nav ul li, /* Displays sub menus on hover, active, focus */
nav ul ul li {
	&:hover > ul, &:active > ul, &:focus > ul {
		display: block;
	}
}
.menuSVG {
	fill: #fff;
}
nav a#pull { /* Responsive Menu Pull */
	display: none;
	@media (max-width: 768px) {
		display: block;
		width: auto;
		height: 32px;
		margin: 0;
		padding: 0 0 0.65em;
		text-align: center;
		vertical-align: top;
		font-size: 1.5em;
	}
}
@media (max-width: 768px) { /* Remaining Responsive Styles */
	nav ul ul,
	nav ul ul ul {
		position: static;
		width: auto;
		margin: 0;
		padding: 0;
	}
	nav ul li,
	nav ul ul li,
	nav ul ul ul li {
		display: block;
		margin: 3px 0 0;
		padding: 0.35em 0;
		text-align: center;
		line-height: 2;
		&:hover, &:active, &:focus {
			background-color: lighten($pink,10%);
		}
	}
}
nav .current-post-ancestor a,
nav .current-menu-parent a,
nav .current-menu-item a,
nav .current_page_item a {
	background-color: lighten($pink,10%);
	@media (max-width: 768px) {
		background-color: transparent;
	}
}