/* Normalize */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  //-moz-box-sizing: content-box;
  //-webkit-box-sizing: content-box;
  //box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}

/* Forms */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
	outline: none;
	border: none;
	padding: 15px;
	background: rgba(255,255,255,0.5);
	border: 1px solid #eaeaea;
}

input[type="submit"] {
	border: none;
	outline: none;
	background: lighten($pink,5%);
	color: #fff;
	padding: 15px;
	text-align: center;
	font-size: 1em;
	@include single-transition(all, 0.3s, ease);
	&:hover, &:active, &:focus {
		background: $pink;
	}
}

/* Questionnaire */
.page-id-2065,
.page-id-1991 {
	.field-wrap {
		width: 48%;
		float: left;
		margin-right: 4%;
		&:nth-of-type(even) {
			margin-right: 0;
		}
	}
	.field-wrap.textarea-wrap {
		width: 100%;
		display: block;
		float: none;
		clear: both;
	}
}

/* Contact */
#contact {
	position: relative;
	top: -65px;
}

.contact {
	background: #f3f5f7 url(../images/symphony.png);
	border-top: 2px solid #eaeaea;
}

.home .field-wrap {
	margin-bottom: 10px !important;
}

.home .ninja-forms-form-wrap *,
.home .ninja-forms-form-wrap *:after,
.home .ninja-forms-form-wrap *:before {
	color: #888;
}

.home .ninja-forms-form-wrap input[type="submit"] {
	color: #fff;
}

.contact .field-wrap.text-wrap {
	width: 33.333%;
	float: left;
	padding: 0 10px 0 0;
	margin-right: 0;
	&:nth-child(3) {
		padding: 0;
	}
}

.contact .textarea-wrap {
	padding: 0;
	clear: both;
	max-height: 200px;
}

.contact .submit-wrap {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	input[type="submit"] {
		width: 100%;
	}
}