/* Normalize */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  //-moz-box-sizing: content-box;
  //-webkit-box-sizing: content-box;
  //box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}

/* Forms */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
	outline: none;
	border: none;
	padding: 15px;
	background: #eaeaea;
}

input[type="submit"] {
	border: none;
	outline: none;
	background: lighten($pink,5%);
	color: #fff;
	padding: 15px;
	text-align: center;
	font-size: 1em;
	@include single-transition(all, 0.3s, ease);
	&:hover, &:active, &:focus {
		background: $pink;
	}
}

.field-wrap {
	margin-bottom: 10px !important;
}

#contact {
	position: relative;
	top: -65px;
}

/* Ninja Forms */
.contact {
	background: #f3f5f7 url(../images/symphony.png);
	border-top: 2px solid #eaeaea;
}

.info {
	text-align: center;
	font-size: 0.95em;
	color: #555;
	span:after {
		content: "•";
		color: $pink;
		margin: 0 6px 0 10px;
	}
	span:last-child:after {
		content: "";
	}
}

.ninja-forms-form-wrap *,
.ninja-forms-form-wrap *:after,
.ninja-forms-form-wrap *:before {
	color: #888;
}

.contact .text-wrap {
	width: 33.333%;
	float: left;
	padding: 0 10px 0 0;
	&:nth-child(3) {
		padding: 0;
	}
}

.contact .textarea-wrap {
	padding: 0;
	clear: both;
	max-height: 200px;
}

.contact .submit-wrap {
	padding: 0;
	margin: 0;
}

.contact input[type="submit"] {
	width: 100%;
}