/* Normalize */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  //-moz-box-sizing: content-box;
  //-webkit-box-sizing: content-box;
  //box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}

/* Forms */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
	outline: none;
	border: none;
	padding: 15px;
	background: #eaeaea;
}

input[type="submit"] {
	border: none;
	outline: none;
	background: pink;
	color: #fff;
	padding: 15px;
	text-align: center;
	font-size: 1.1em;
	@include single-transition(all, 0.3s, ease);
	&:hover, &:active, &:focus {
		background: darken(pink, 5%);
	}
}

#contact {
	position: relative;
	top: -65px;
}

/* Ninja Forms */
.home .contact {
	/* Just Home */
	background: #fff;
}

.contact {
	background: #f7f7f7;
}

.contact h1 {
	text-align: center;
	margin: 0 0 0.5em;
	line-height: 1;
}

.info {
	text-align: center;
	font-size: 1.1em;
	span:after {
		content: "•";
		color: pink;
		margin: 0 6px 0 10px;
	}
	span:last-child:after {
		content: "";
	}
}

.contact .wrap {
	max-width: 1000px;
}

.ninja-forms-form-wrap *,
.ninja-forms-form-wrap *:after,
.ninja-forms-form-wrap *:before {
	color: #888;
}

.contact .text-wrap {
	width: 33.333%;
	float: left;
	padding: 1%;
}

.contact .textarea-wrap,
.contact .submit-wrap {
	padding: 1%;
	margin: 0;
}

.contact input[type="submit"] {
	width: 100%;
}