.searchField {
	position: relative;
	width: 100%;
	max-width: 285px;
	display: block;
	padding: 0;
	margin: 2em auto 0;
	@include box-sizing(border-box);
	.searchInput {
		width: 100%;
		outline: none;
		padding: 13px;
		background: #555;
		border: none;
		color: #eaeaea;
	}
	.searchImage {
		position: absolute;
	  top: 10px;
	  right: 10px;
	  border: none;
	  outline: none;
	  width: 25px;
	  height: auto;
	}
}

.search404 {
	margin-bottom: 2em;
	.Input404 {
		width: 75%;
	}
	.Image404 {
		font-size: 1em;
	  margin-top: 10px;
	  width: 24%;
	}
}

.error404 {
	.widget.widget_archive {
		margin-bottom: 2em;
	}
	#archives-dropdown--1 {
		border: 1px solid #ccc;
	  padding: 10px;
	  width: 100%;
	  max-width: 250px;
	  outline: none;
	}
	.widget {
		width: 50%;
		float: left;
		font-weight: 400;
	}
}

.widget_tag_cloud h2.widgettitle {
	margin-bottom: 0.5em;
}

.tagcloud {
	a {
		font-size: 1em !important;
		&:after {
			content: "•";
			color: #ccc;
			margin-left: 5px;
		}
		&:last-child:after {
			content: "";
		}
	}
}
