.searchField {
	position: relative;
	width: 100%;
	max-width: 285px;
	display: block;
	padding: 0;
	margin: 2em auto 0;
	@include box-sizing(border-box);
	@include border-radius(0);
	-webkit-appearance: caret;
	-moz-appearance: caret;
}

input[type="search"].searchInput {
	width: 100%;
	padding: 13px;
	background: #555;
	color: #eaeaea;
	border: none;
	@include border-radius(0);
	-webkit-appearance: caret;
	-moz-appearance: caret;
}

.searchImage {
	position: absolute;
  top: 11.5px;
  right: 10px;
  border: none;
  outline: none;
  width: 25px;
  height: auto;
  cursor: pointer;
  input[type="submit"] {
  	padding: 0;
  	background: transparent;
  	font-size: 0;
  }
  svg {
  	position: absolute;
  	top: 0;
  	left: 0;
  }
}

.search404 {
	margin-bottom: 2em;
}

.Input404 {
	width: 75%;
	float: left;
}

input[type="submit"].Image404 {
  margin-left: 1%;
  width: 24%;
  float: right;
  border: 1px solid lighten($pink,5%);
}

.error404 {
	.widget.widget_archive {
		margin-bottom: 2em;
	}
	#archives-dropdown--1 {
		border: 1px solid #ccc;
	  padding: 10px;
	  width: 100%;
	  max-width: 250px;
	  outline: none;
	}
	.widget {
		width: 50%;
		float: left;
		font-weight: 400;
	}
}

.widget_archive,
.widget_tag_cloud {
	h2.widgettitle {
		margin-bottom: 0.5em;
	}
}

.tagcloud {
	a {
		font-size: 1em !important;
		&:after {
			content: "•";
			color: #ccc;
			margin-left: 5px;
		}
		&:last-child:after {
			content: "";
		}
	}
}
