/* Single Post */
.blogSpace {
	@media (max-width: 1024px) {
		padding-top: 75px;
	}
}
.page-template-page-nosidebar-php .singlePost {
	padding: 0;
	margin: 0 0 1%;
}
.singlePost {
	padding: 0 25px 0 0;
	figure {
		float: none;
		width: auto;
		margin: 0 auto 50px;
		//text-align: center;
		img {
			display: inline;
			width: auto;
		}
		figcaption p {
			margin: 0;
			font-size: 0.85em;
			font-style: italic;
		}
	}
	header {
		padding-bottom: 10px;
		width: auto;
		float: none;
		@media (max-width: 1024px) {
			padding-top: 0;
		}
	}
	h1 {
		font-family: 'Roboto Condensed', sans-serif;
		@media (max-width: 600px) {
			font-size: 2.5em;
		}
	}
}
figure.iframe {
	margin: 0 0 50px;
}
.sharing {
	border-bottom: 1px solid #eaeaea;
	padding: 35px 0;
}
.comments {
	margin: 25px 0;
}
.theTags {
	margin: 0 0 15px;
}
.theTags span {
	color: #999;
}
.tagcloud a {
	font-size: 1em !important;
	&:after {
		content: "•";
		color: #999;
		margin-left: 5px;
	}
	&:last-child:after {
		content: "";
	}
}