/* Snippet Styles */
figure.snippetImage {
	width: 75px;
	float: left;
	margin: 5px 10px 0 0;
	padding-bottom: 0;
	height: auto;
}
.post-type-archive-snippet article,
.tax-keyword article {
	width: 49%;
	float: left;
  margin: 0 1% 1% 0;
	padding: 10px 0;
	@media (max-width: 1070px) {
		width: auto;
		float: none;
	}
	@media (max-width: 900px) {
		width: 49%;
		float: left;
	}
	@media (max-width: 600px) {
		width: auto;
		float: none;
	}
	a {
		color: #777;
		&:hover, &:active, &:focus {
			color: $pink;
		}
	}
	h2.archiveTitle {
		font-size: 1.35em;
		font-weight: 400;
		span {
			margin: 0;
			color: inherit;
		}
		@media (max-width: 600px) {
			white-space: normal;
		}
	}
}
.theTags {
	margin: 1.5em 0 0 0;
	line-height: 1.25em;
	font-size: 0.95em;
	a {
		color: lighten($pink,10%) !important;
		&:active, &:hover, &:focus {
			color: $pink !important;
		}
	}
}