/* Typography */
p {

}
h1 {
	font-family: 'Yanone Kaffeesatz', 'Roboto', 'Arial', sans-serif;
  font-size: 3em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h2 {
	font-family: 'Yanone Kaffeesatz', 'Roboto', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h3 {
	font-family: 'Yanone Kaffeesatz', 'Roboto', 'Arial', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}