/* Typography */
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  span {
    text-transform: capitalize;
  }
}
.single h2,
.page h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: none;
}
.single h3,
.page h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink;
  margin: 0.5em 0 0 0;
  padding: 0;
}
h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Links & Buttons */
.edd-add-to-cart.button,
.post-edit-link,
.readMore {
	background: lighten($pink, 10%);
	padding: 10px 15px;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 0.85em;
  outline: none;
  border: none;
	&:hover, &:active, &:focus {
		color: #fff;
		background: $pink;
	}
}
a {
  background: transparent;
  color: lighten($pink, 10%);
  text-decoration: none;
  @include single-transition(all, 0.25s, ease);
  &:hover, &:active, &:focus {
  	color: $pink;
  }
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
.singleButton {
	margin: 0;
	@media (max-width: 768px) {
		margin: 0 0 0.5em 0;
	}
}