.video {
  background: #fff;
  padding: 20px 20px 20px 0;
  @include box-sizing(border-box);
  figure {
    width: 300px;
    float: left;
    margin: 0 10px 0 0;
    @media (max-width: 480px) {
      float: none;
      width: auto;
    }
  }
  h2 {
    margin: 0 0 10px 0;
    font-size: 1.55em;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.videoButton {
  margin: 0 0 0 310px;
  @media (max-width: 675px) {
    margin-left: 0;
    margin-bottom: 0.5em;
  }
}
.videoThumb {
  @media (max-width: 1300px ) {
    height: 218px;
  }
  @media (max-width: 1299px ) {
    height: 217px;
  }
  @media (max-width: 1298px ) {
    height: 216px;
  }
  @media (max-width: 1297px ) {
    height: 215px;
  }
  @media (max-width: 1296px ) {
    height: 214px;
  }
  }@media (max-width: 1295px ) {
    height: 213px;
  }
  @media (max-width: 1294px ) {
    height: 212px;
  }
  @media (max-width: 1293px ) {
    height: 211px;
  }
  @media (max-width: 1292px ) {
    height: 210px;
  }
  @media (max-width: 1291px ) {
    height: 209px;
  }
  @media (max-width: 1290px ) {
    height: 208px;
  }
  @media (max-width: 1289px ) {
    height: 207px;
  }
}