.video {
  background: #fff;
  padding: 15px;
  @include box-sizing(border-box);
  @include grid;
  img {
    width: 100%;
    @include hover;
  }
  h2 {
    margin: 0 0 10px 0;
    font-size: 1.8em;
  }
}